body {
  background-color:white;
  background-color:white;
  background-image: linear-gradient(90deg, rgba(230,230,230,.5) 50%, transparent 50%),
  linear-gradient(rgba(230,230,230,.5) 50%, transparent 50%);
  background-size:2px 2px;
}

#auth {
  background-color:white;
  background-color:white;
  background-image: linear-gradient(90deg, rgba(230,230,230,.5) 50%, transparent 50%),
  linear-gradient(rgba(230,230,230,.5) 50%, transparent 50%);
  background-size:2px 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  h1 {
    text-align: center;
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 24px;
    small {
      display: block;
      font-size: 14px;
      margin-top: -10px;
      color: red;
    }
  }
  button {
    margin-bottom: 24px;
  }
  & > div {
    height: 100%;
    & > div {
      height: 100%;
    }
    position: relative;
    .segment {
      background: #fff;
      margin-top: 40%;
    }
  }
}

.main {
  padding-top: 70px;
}

.ui.header {
  color: #666 !important;
  font-weight: 400 !important;
}

.page.title {
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 32px;
    position: relative;
    i {
      display: block;
      font-size: 18px;
      position: absolute;
      top: 7px;
      left: 5px;
    }
}

.title.action {
    background: #2185d0;
    color: #fff;
    width: 26px;
    padding: 3px;
    border-radius: 40px;
    position: absolute;
    right: 12px;
    top: 22px;
    cursor: pointer;
    border: none;
    &:disabled {
      opacity: 0.5;
      &:hover {
        background: #2185d0 !important;
      }
      &.refresh:hover {
        background: #e0e1e2 !important;
      }
    }
    &:hover {
      background: #1678c2;
    }
    &.refresh {
      right: 45px;
      background: #e0e1e2;
      color: #333;
      &:hover {
        background: #cacbcd;
      }
    }
    i {
        margin-left: 2px;
        margin-top: 1px;
    }
}

.undo {
    border-radius: 0 !important;
    position: fixed !important;
    bottom: 0;
    width: 100%;
    margin: 0 !important;
}

.ui.menu.pagination {
  button {
    background: #fff;
    border: none;
    outline: none;
    &:disabled {
      background: #f2f2f2;
      i {
        color: #a0a0a0;
      }
    }
  }
}

.fc-content {
  cursor: pointer;
}

.as-label {
  border: none;
}

.logo {
    background: darkcyan;
    padding: 6px;
    text-align: center;
    margin-right: 6px;
    i {
      font-size: 20px;
      margin-left: 4px;
    }
}

#noty_topRight_layout_container {
  top: 65px !important;
  & > li {
    border-radius: 3px !important;
    margin-bottom: 5px !important;
  }
}

.hovering {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large screen only"]:not(.mobile),
  [class*="widescreen only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet),
  [class*="large screen only"]:not(.tablet),
  [class*="widescreen only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important;
  }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*="mobile only"]:not(.computer),
  [class*="tablet only"]:not(.computer),
  [class*="computer hidden"],
  [class*="large screen only"]:not(.computer),
  [class*="widescreen only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*="mobile only"]:not([class*="large screen"]),
  [class*="tablet only"]:not([class*="large screen"]),
  [class*="computer only"]:not([class*="large screen"]),
  [class*="large screen hidden"],
  [class*="widescreen only"]:not([class*="large screen"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  [class*="mobile only"]:not([class*="widescreen"]),
  [class*="tablet only"]:not([class*="widescreen"]),
  [class*="computer only"]:not([class*="widescreen"]),
  [class*="large screen only"]:not([class*="widescreen"]),
  [class*="widescreen hidden"],
  [class*="widescreen or lower hidden"] {
    display: none !important;
  }
}

@media only screen and (orientation:landscape) and (max-width: 991px) {
    #auth {
      & > div {
        .segment {
          margin-top: 5%;
        }
      }
    }
}