<div class="ui grey padded top attached segment">
   <h4 class="ui header">
   <span x-ng-if="!vm.selectedUser.id">Create </span>
   <span x-ng-if="vm.selectedUser.id">Update </span>
    Maid</h4>
</div>
<div class="ui bottom padded attached segment">

  <div class="ui negative message" x-ng-if="vm.formError">
    <div class="header">
      We're sorry, we cannot submit user.
    </div>
    <ol>
      <li x-ng-repeat="error in vm.formError">{{error.message}}</li>
    </ol>
  </div>

  <div class="ui positive message" x-ng-if="vm.formSuccess">
    <div class="header">
      Maid successfully submitted.
    </div>
    <p>You will be redirected to user list page.</p>
  </div>


  <form class="ui form" style="margin-bottom: 10px" x-ng-submit="vm.submitForm(vm.selectedUser)" name="users">
    <div class="field">
      <div class="six wide field">
        <label>Maid ID *</label>
        <input type="text" placeholder="Maid ID" x-ng-model="vm.selectedUser.maidID">
      </div>
    </div>

    <div class="field">
      <div class="six wide field">
        <label>Name *</label>
        <input type="text" placeholder="Name" x-ng-model="vm.selectedUser.name">
      </div>
    </div>

    <div class="field" >
      <div class="eight wide field">
        <label>Passport No *</label>
        <input type="text" placeholder="Passport number" x-ng-model="vm.selectedUser.passport">
      </div>
    </div>

    <div class="field" >
      <div class="eight wide field">
        <label>PLKS date*</label>
        <input type="text" placeholder="DD-MM-YYYY" x-ng-model="vm.selectedUser.dateOfBirth" mask="31-12-9999" >
      </div>
    </div>

    <!-- <div class="field" >
      <div class="eight wide field">
        <label>Mobile Phone *</label>
        <input type="text" placeholder="Mobile phone" x-ng-model="vm.selectedUser.phoneNumber" mask="999 9999 9999" clean="true">
      </div>
    </div> -->

    <div class="field">
      <div class="eight wide field">
        <label>Mobile Phone (Indonesia)</label>
        <input type="text" placeholder="Mobile phone (Indonesia)" x-ng-model="vm.selectedUser.phoneNumberIdn" mask="9999 9999 9999" clean="true">
      </div>
    </div>

    <div class="field" >
      <div class="eight wide field">
        <label>Bank Account No *</label>
        <input type="text" placeholder="Bank Account" x-ng-model="vm.selectedUser.bankAccount">
      </div>
    </div>

    <div class="field">
      <div class="twelve wide field">
        <label>Remark *</label>
        <textarea placeholder="Remark" x-ng-model="vm.selectedUser.address"></textarea>
      </div>
    </div>

    <div class="inline field">
      <div class="ui checkbox">
        <input type="checkbox" x-ng-model="vm.selectedUser.isActive">
        <label>Is Active</label>
      </div>
    </div>

    <div class="field">
      <div class="ui button" x-ng-click="vm.closeForm()">
        Cancel
      </div>
      <button class=" ui blue right labeled icon button" x-ng-class="{loading: vm.processing}" x-ng-disabled="vm.processing">
        <i class="save icon"></i>
        Submit
      </button>
    </div>

  </form>
</div>