<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reminder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="styles/vendor.css">
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="angularApp">
    <!--[if lte IE 12]>
      <p class="browsehappy">FUCK YOU! You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ui-view></div>

    <div class="ui modal" id="modalJob">
      <div class="header">
        Today's job(s)
      </div>
      <div class="image content">
        <div class="ui medium image">
          <i class="suitcase icon"></i>
        </div>
        <div class="description" style="width: 100%">
            <div x-ng-repeat="job in $root.todaysJob">
              <div class="ui header" style="margin-bottom:0">Client Name: <span x-ng-bind="job.Client.name"></span></div>
              <p style="line-height: 20px">Client Address: <span x-ng-bind="job.Client.address"></span>
                <br>Start time: <b x-ng-bind="job.startTime | date: 'dd MMMM yyyy HH:mm'"></b>
                <br>End time: <b x-ng-bind="job.endTime | date: 'dd MMMM yyyy HH:mm'"></b>
              </p>
              <b>Tasks</b>
              <ol style="margin-top: 0">
                  <li x-ng-repeat="task in job.Service.Tasks">
                      <span x-ng-bind="task.name"></span>
                  </li>
              </ol>

              <div class="inline field">
                  <div class="ui checkbox">
                    <input type="checkbox" x-ng-model="job.Service.isPackage" disabled>
                    <label style="opacity: 1;">Is Package</label>
                  </div>
                </div>
                <div class="ui divider" x-ng-hide="$last"></div>
            </div>
        </div>
      </div>
      <div class="actions">
        <div class="ui blue deny right labeled icon button">
          Close
          <i class="close icon"></i>
        </div>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<!--      <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script> -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/semantic/dist/semantic.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/angularjs-datetime-picker/angularjs-datetime-picker.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
    <script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/auth.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/users.js"></script>
        <script src="scripts/controllers/services.js"></script>
        <script src="scripts/controllers/jobs.js"></script>
        <script src="scripts/controllers/calendars.js"></script>
        <script src="scripts/services/authentication.js"></script>
        <script src="scripts/services/authorization.js"></script>
        <script src="scripts/services/cancan.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/services/role.js"></script>
        <script src="scripts/services/service.js"></script>
        <script src="scripts/services/job.js"></script>
        <script src="scripts/services/batch.js"></script>
        <script src="scripts/directives/common_directives.js"></script>
        <script src="scripts/routes.js"></script>
        <!-- endbuild -->
</body>
</html>
